<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="MobileAppProject"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileAppProject"
        tools:targetApi="31">
        <activity
            android:name=".MapPickerActivity"
            android:exported="false"
            android:theme="@style/Theme.MobileAppProject" />
        <activity
            android:name=".Comment_Edit"
            android:exported="false" />
        <activity
            android:name=".AccountPage"
            android:exported="false" />
        <activity
            android:name=".Home_Conference"
            android:exported="false" />
        <activity
            android:name=".Conference_Edit"
            android:exported="false" />
        <activity
            android:name=".Register3"
            android:exported="false"
            android:label="@string/title_activity_register3"
            android:theme="@style/Theme.MobileAppProject" />
        <activity
            android:name=".FullCommentSection"
            android:exported="false" />
        <activity
            android:name=".ArticlePage"
            android:exported="false" />
        <activity
            android:name=".SearchArticle"
            android:exported="false" />
        <activity
            android:name=".SearchConference"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDrYUCok7Mn4SwjZL6Ouu_eTlWCo1VlcP4" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".ConferencePage"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".Admin"
            android:exported="false" />
        <activity
            android:name=".Main_Admin"
            android:exported="false" />
        <activity
            android:name=".Admin_SearchArticle"
            android:exported="false" />
        <activity
            android:name=".Admin_SearchConference"
            android:exported="false" />
        <activity
            android:name=".Article_Creation"
            android:exported="false" />
        <activity
            android:name=".Conference_Creation"
            android:exported="false" />
        <activity
            android:name=".Article_Edit"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>